@if (business) {
  <p-card class="business-card" [routerLink]="active == true ? url : undefined" (click)="active == true? undefined: handleClick()">

    <!-- Header -->
    <div class="header">
      <div class="title">
        {{ business.name }}
      </div>

      <p-tag
        [value]="statusLabel"
        [severity]="statusSeverity"
        rounded>
      </p-tag>
    </div>

    <!-- Plan -->
    <div class="plan">
      {{ getPlanLabel(business.plan?.code ?? 'free') }}
    </div>

    <!-- Info -->
    <div class="meta">
      <span>Estado: {{ statusText }}</span>
      <span>Creado: {{ business.createdAt | date:'mediumDate' }}</span>
    </div>

  </p-card>
}
